Clase 3: Tablas Pivote

In [1]:
import pandas as pd
import numpy as np

In [2]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          mic.xlsx

In [5]:
df= pd.read_csv('datasets/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [6]:
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

In [10]:
my_pivot=pd.pivot_table(df,
                        index='STNAME',
                        values= 'BIRTHS2010', 
                        aggfunc='sum'
                       )
my_pivot

                      BIRTHS2010
STNAME
Alabama                    28452
Alaska                      5784
Arizona                    41874
Arkansas                   18878
California                246648
Colorado                   33582
Connecticut                18978
Delaware                    5694
District of Columbia        4486
Florida                   101744
Georgia                    64978
Hawaii                      9292
Idaho                      11942
Illinois                   83672
Indiana                    41922
Iowa                       19934
Kansas                     19984
Kentucky                   27382
Louisiana                  29146
Maine                       6886
Maryland                   36922
Massachusetts              37294
Michigan                   58204
Minnesota                  35000
Mississippi                18842
Missouri                   38024
Montana                     6136
Nebraska                   13030
Nevada                     17784
New Hampshire               6538
New Jersey                 53058
New Mexico                 13298
New York                  122828
North Carolina             59828
North Dakota                4682
Ohio                       69618
Oklahoma                   26288
Oregon                     23754
Pennsylvania               72202
Rhode Island                5750
South Carolina             28360
South Dakota                6064
Tennessee                  39326
Texas                     185534
Utah                       27504
Vermont                     3308
Virginia                   51436
Washington                 44488
West Virginia              10208
Wisconsin                  35116
Wyoming                     3990

In [12]:
%ls datasets

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          mic.xlsx

In [14]:
df= pd.read_csv('datasets/airline_data.csv', low_memory=False)
df.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df. shape

(9442, 110)

In [16]:
columz=df.columns.tolist()
columz.sort()
columz

['ActualElapsedTime',
 'AirTime',
 'ArrDel15',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrTime',
 'ArrTimeBlk',
 'ArrivalDelayGroups',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Cancelled',
 'CarrierDelay',
 'DOT_ID_Reporting_Airline',
 'DayOfWeek',
 'DayofMonth',
 'DepDel15',
 'DepDelay',
 'DepDelayMinutes',
 'DepTime',
 'DepTimeBlk',
 'DepartureDelayGroups',
 'Dest',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'Distance',
 'DistanceGroup',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1LongestGTime',
 'Div1TailNum',
 'Div1TotalGTime',
 'Div1WheelsOff',
 'Div1WheelsOn',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2LongestGTime',
 'Div2TailNum',
 'Div2TotalGTime',
 'Div2WheelsOff',
 'Div2WheelsOn',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3LongestGTime',
 'Div3TailNum',
 'Div3TotalGTime',
 'Div3WheelsOff',
 'Div3WheelsOn',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4LongestGTime',
 'Div4TailNum',
 'Div4TotalGTime',
 'Div4WheelsOff',
 'Div4WheelsOn',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5LongestGTime',
 'Div5TailNum',
 'Div5TotalGTime',
 'Div5WheelsOff',
 'Div5WheelsOn',
 'DivActualElapsedTime',
 'DivAirportLandings',
 'DivArrDelay',
 'DivDistance',
 'DivReachedDest',
 'Diverted',
 'FirstDepTime',
 'FlightDate',
 'Flight_Number_Reporting_Airline',
 'Flights',
 'IATA_CODE_Reporting_Airline',
 'LateAircraftDelay',
 'LongestAddGTime',
 'Month',
 'NASDelay',
 'Origin',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'Quarter',
 'Reporting_Airline',
 'SecurityDelay',
 'Tail_Number',
 'TaxiIn',
 'TaxiOut',
 'TotalAddGTime',
 'Unnamed: 0',
 'WeatherDelay',
 'WheelsOff',
 'WheelsOn',
 'Year']

In [20]:
delay_pivot=pd.pivot_table(df,
                           index='Year',
                           values= 'DepDelay',
                           aggfunc='sum',
                           columns='DepartureDelayGroups',
                          )
delay_pivot

DepartureDelayGroups,-2.0,-1.0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0
Year,,,,,,,,,,,,,,,
1987,NaN,-20.0,81.0,145.0,36.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,-64.0,385.0,408.0,263.0,149.0,126.0,245.0,98.0,109.0,NaN,NaN,151.0,179.0,NaN
1989,NaN,-84.0,450.0,417.0,231.0,196.0,335.0,155.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,-135.0,350.0,383.0,112.0,49.0,268.0,NaN,NaN,108.0,122.0,NaN,NaN,NaN,NaN
1991,NaN,-120.0,425.0,291.0,361.0,209.0,62.0,88.0,NaN,107.0,NaN,NaN,NaN,NaN,NaN
1992,NaN,-140.0,329.0,326.0,145.0,164.0,NaN,NaN,NaN,NaN,NaN,NaN,158.0,NaN,NaN
1993,NaN,-161.0,381.0,267.0,271.0,305.0,70.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN,308.0
1994,NaN,-120.0,402.0,337.0,295.0,158.0,62.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,-183.0,490.0,433.0,256.0,399.0,133.0,159.0,NaN,222.0,NaN,NaN,NaN,NaN,NaN
1996,NaN,-177.0,427.0,357.0,365.0,412.0,330.0,85.0,96.0,NaN,NaN,146.0,158.0,174.0,364.0
1997,NaN,-224.0,387.0,284.0,264.0,200.0,321.0,167.0,103.0,225.0,NaN,NaN,161.0,170.0,241.0
1998,NaN,-263.0,354.0,350.0,302.0,264.0,64.0,NaN,199.0,NaN,258.0,NaN,NaN,NaN,NaN
1999,-18.0,-327.0,381.0,352.0,341.0,361.0,332.0,171.0,NaN,110.0,NaN,NaN,NaN,165.0,238.0
2000,NaN,-323.0,416.0,444.0,533.0,256.0,478.0,170.0,NaN,116.0,NaN,294.0,NaN,177.0,998.0
2001,NaN,-498.0,333.0,205.0,764.0,196.0,342.0,162.0,90.0,106.0,NaN,149.0,156.0,165.0,214.0
2002,NaN,-546.0,234.0,392.0,334.0,307.0,200.0,80.0,99.0,NaN,NaN,140.0,NaN,NaN,180.0
2003,NaN,-783.0,193.0,393.0,237.0,247.0,203.0,162.0,NaN,117.0,121.0,281.0,NaN,NaN,NaN
2004,NaN,-743.0,252.0,359.0,403.0,272.0,451.0,253.0,195.0,110.0,124.0,140.0,308.0,NaN,207.0
2005,NaN,-699.0,384.0,510.0,503.0,661.0,579.0,802.0,104.0,NaN,124.0,NaN,160.0,NaN,1000.0
2006,NaN,-773.0,340.0,491.0,381.0,467.0,594.0,79.0,290.0,108.0,128.0,285.0,322.0,NaN,464.0
2007,NaN,-715.0,523.0,624.0,432.0,626.0,597.0,87.0,478.0,111.0,495.0,149.0,462.0,172.0,396.0
2008,-55.0,-766.0,383.0,498.0,350.0,152.0,327.0,251.0,573.0,226.0,248.0,143.0,155.0,171.0,582.0
2009,NaN,-907.0,364.0,415.0,409.0,209.0,201.0,335.0,685.0,350.0,NaN,NaN,159.0,168.0,780.0
2010,NaN,-932.0,394.0,525.0,549.0,368.0,200.0,235.0,298.0,219.0,125.0,NaN,150.0,NaN,990.0
2011,-19.0,-776.0,306.0,333.0,257.0,257.0,208.0,407.0,104.0,576.0,NaN,143.0,471.0,177.0,181.0
2012,-16.0,-759.0,244.0,475.0,405.0,212.0,282.0,172.0,90.0,110.0,383.0,NaN,NaN,172.0,1577.0
2013,-17.0,-750.0,326.0,555.0,513.0,530.0,338.0,237.0,97.0,107.0,132.0,140.0,158.0,NaN,460.0
2014,-16.0,-750.0,360.0,683.0,380.0,458.0,402.0,655.0,380.0,452.0,121.0,139.0,NaN,NaN,431.0
2015,-16.0,-716.0,337.0,535.0,516.0,404.0,264.0,327.0,98.0,448.0,130.0,138.0,150.0,NaN,1071.0
2016,NaN,-681.0,218.0,424.0,461.0,301.0,61.0,256.0,281.0,232.0,367.0,NaN,NaN,168.0,185.0
2017,NaN,-776.0,232.0,434.0,250.0,276.0,333.0,78.0,483.0,NaN,NaN,141.0,305.0,170.0,1127.0
2018,-50.0,-986.0,264.0,467.0,357.0,360.0,339.0,161.0,296.0,339.0,253.0,431.0,NaN,171.0,417.0
2019,-19.0,-1125.0,374.0,532.0,590.0,482.0,394.0,399.0,200.0,115.0,131.0,NaN,164.0,NaN,522.0
2020,NaN,-314.0,54.0,44.0,108.0,57.0,135.0,83.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN

In [21]:
df.describe()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
count,9.442000e+03,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9.442000e+03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.002191e+06,2004.410294,2.525736,6.568630,15.695086,3.948422,19926.147638,1733.463461,12725.391760,1.272541e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.750812e+05,9.140586,1.114095,3.452402,8.870576,1.995809,368.788451,1652.988876,1543.143222,1.543141e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.100000e+02,1987.000000,1.000000,1.000000,1.000000,1.000000,19386.000000,1.000000,10135.000000,1.013501e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,5.122065e+05,1997.000000,2.000000,4.000000,8.000000,2.000000,19704.000000,530.250000,11292.000000,1.129202e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.008876e+06,2005.000000,3.000000,7.000000,16.000000,4.000000,19805.000000,1183.500000,12892.000000,1.289201e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.496591e+06,2012.000000,4.000000,10.000000,23.000000,6.000000,20355.000000,2235.500000,14100.000000,1.410001e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.999844e+06,2020.000000,4.000000,12.000000,31.000000,7.000000,21171.000000,7934.000000,16440.000000,1.644001e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN